.NavBar {
  position: fixed;
  bottom: 0;
  background-color: var(--bg-surface);
  padding: 4px;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.NavBar_layout {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-evenly;
  align-items: center;
  max-width: 56rem;
  width: 100%;
  margin: 2px 0px;
}

.NavBar_menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-muted);
  border-radius: var(--radius-medium);
  padding: 4px 0px;
  width: 5rem;
}

.NavBar_menuButton:hover {
  opacity: 0.6;
}

.NavBar_menuButton___selected {
  color: var(--text-accent);
  font-weight: bold;
}

.NavBar_menuIconContainer {
  padding: 2px 4px;
  margin: 0px 8px;
  border-radius: 999px;
  transition: all;
  transition-duration: 200ms;
}

.NavBar_menuButton:hover .NavBar_menuIconContainer {
  background-color: var(--text-muted);
  color: var(--bg-surface);
}

.NavBar_menuIconContainer___selected {
  background-color: var(--bg-accent);
}

.NavBar_menuicon {
  font-size: 24px !important;
}

.NavBar_menuicon___selected {
  font-variation-settings: "FILL" 100;
  color: var(--text-on-accent);
}

.NavBar_menuName {
  font-size: 12px;
}
